#grid_container {
    width: 20rem;
    height: 40rem;
    box-shadow: 0 0 5px black;
}

#grid {
    align-content: center;
}

.O, .I, .T, .J, .L, .S, .Z {
    stroke-width: 1px;
    stroke: white;
}

.O {
    fill: gold;
}

.I {
    fill: darkcyan;
}

.T {
    fill: rebeccapurple;
}

.J {
    fill: blue;
}

.L {
    fill: darkorange;
}

.S {
    fill: green;
}

.Z {
    fill: red;
}

#next {
    box-shadow: 0 0 5px black;
    height: 8rem;
    width: 12rem;
    
}
#score {
    box-shadow: 0 0 5px black;
    height: 3rem;
    width: 12rem;
}


#right_col {
    margin-left: 1rem;
}

#next {
    margin-bottom: 1rem;
}

.container {
    margin-top: 2rem;
}

#dead {
    opacity: 0.75;
}

#next_svg {
    width: "12rem";
    height: "8rem"

}